body {
    background-color:#000000; 
    color:#FFFFFF;
    font: Arial;
}
h1{
    color:grey;
    font:Verdana;
}
.maindiv{
    background-color:#FFFFFF;
    color:#000000;
    width:300px;
    padding:20px;
    border-radius:25px;
    align:center;
    margin: 0px auto;
}
.decorate{
    background-color:#FFFF00;
}

